# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
build/

# IDE files
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Generated platform artifacts
android/.gradle/
android/app/debug/
android/app/profile/
android/app/release/
ios/Pods/
ios/.symlinks/

# Optional local env files
*.log
*.tmp
